/* General styles for the form */
#form-container {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  #card-front, #card-back {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  
  #card-number, #card-holder, #card-month, #card-year, #card-cvc {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin-top: 10px;
  }
  
  #card-front label, #cardholder-container label, #exp-container label, #cvc-container label {
    font-weight: bold;
    font-size: 14px;
  }
  
  #amount {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #card-image {
    margin-top: 10px;
  }
  
  #card-btn {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #card-btn:hover {
    background-color: #0056b3;
  }
  
  #card-success, #form-errors {
    text-align: center;
    display: none;
  }
  
  .hidden {
    display: none;
  }
  
  /* Card Back styles */
  #card-back {
    background-color: #343a40;
    padding: 10px;
    border-radius: 10px;
    color: white;
  }
  
  #card-stripe {
    height: 20px;
    background-color: #777;
    margin-bottom: 10px;
  }
  
  #card-stripe::before {
    content: '#### #### #### ####';
    color: #fff;
    font-weight: bold;
  }
  
  /* Shadow Effect */
  #shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  